* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
 

  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-size: medium;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    font-size: medium;
  }

  table, td, th {  
    border: 1.5px solid black;
    text-align: left;
    padding: 12px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th{
    background-color:#ccc;
  }

  body {
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0;
    background-color: #fff9f9;
    margin-bottom: 10px;
    margin-left:10px ;
    margin-right: 10px;
    margin-top: 10px;

}

.pointer {
  color: red;
  cursor: pointer;
}


.navbar {
  overflow: hidden;
  background-color: black;
  height:80px;
  border-radius: 3px;
   padding: 8px;
}


.navbar a {
  float: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.749);
  padding:20px;
  text-decoration: none;
}
